.home_box {
  .home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    animation: left 3s alternate ease-in-out;
    h3 {
      font-size: 18px;
      color: rgba(61, 61, 61, 1);
    }
    h1 {
      font-size: 50px;
      color: rgba(61, 61, 61, 1);
      width: 320px;
      font-weight: 700;
    }
    p {
      font-size: 16px;
      color: rgba(114, 114, 114, 1);
      width: 603px;
    }
    span {
      color: rgba(70, 163, 88, 1);
    }
    button {
      padding: 10px 20px;
      background-color: rgba(70, 163, 88, 1);
      border-radius: 5px;
      color: aliceblue;
    }
  }
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(70, 163, 88, 0.1);
  padding: 10px 20px;
  margin-top: 20px;
  img {
    width: 100%;
    max-width: 420px;
    animation: right 3s alternate ease-in-out;
  }
}
@keyframes left {
  0% {
    transform: translateX(-1000px);
  }
}
@keyframes right {
  0% {
    transform: translateX(1000px);
  }
}
@media (max-width: 1200px) {
  .home_box {
    img {
      max-width: 355px;
    }
    .home {
      p {
        width: 497px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .home_box {
    img {
      max-width: 310px;
    }
    .home {
      p {
        width: 349px;
      }
    }
  }
}
@media (max-width: 770px) {
  .home_box {
    img {
      max-width: 228px;
    }
    .home {
      p {
        width: 290px;
      }
      h1 {
        font-size: 2rem;
      }
    }
  }
}

@media (max-width: 640px) {
  .home_box {
    .home {
      width: 260px;
      p {
        font-size: 13px;
        width: 160px;
        span {
          display: none;
        }
      }
      button {
        padding: 6px;
        font-size: 10px;
      }
      h1 {
        font-size: 36px;
        max-width: 240px;
      }
    }
  }
}
@media (max-width: 474px) {
  .home_box {
    gap: 10px;
    .home {
      width: 166px;
      h3 {
        font-size: 13px;
      }
      p {
        font-size: 10px;
      }
      h1 {
        font-size: 25px;
        width: 150px;
      }
    }
    img {
      max-width: 165px;
    }
  }
}
