.plants_block {
  display: flex;
  flex-direction: column;
  .all {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-block: 20px;
    h2 {
      color: rgba(61, 61, 61, 1);
      font-size: 22px;
    }
    h2:hover {
      color: rgba(70, 163, 88, 1);
      border-bottom: 2px solid rgba(70, 163, 88, 1);
      transition: 0.7s;
    }
  }
}
.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px 
}
.box_plants {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  .plants {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    gap: 6px;
    img {
      width:240px;
      height: 230px;
      background-color: rgba(245, 245, 245, 0.888);
      padding: 20px 30px 50px;
      border-radius: 10px;
    }
    h2 {
      color: rgba(61, 61, 61, 1);
      font-size: 22px;
    }
    p {
      color: rgba(70, 163, 88, 1);
    }
  }
  .ion {
    display: none;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    position: absolute;
    left: 60px;
    top: 200px;
    color: rgba(61, 61, 61, 1);
  }
}
.plants:hover {
  .ion {
    display: flex;
  }
}
@media (max-width: 770px) {
  .plants_block {
    .all {
      h2 {
        max-width: 220px;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 640px) {
  .plants_block {
    .box_plants {
      .plants {
        img {
          width: 208px;
          height: 208px;
          padding: 25px;
        }
      }
    }
  }
}
@media (max-width: 470px) {
  .plants_block {
    .all {
      padding-left: 20px;
      h2 {
        font-size: 20px;
      }
    }
    .box_plants {
      .ion {
        font-size: 17px;
        left: 35px;
        top: 134px;
      }
      gap: 22px;
      justify-content: center;
      .plants {
        img {
          width: 150px;
          height: 155px;
          padding: 13px 13px 26px 13px;
        }
      }
    }
  }
}

@media (max-width: 460px) {
  .plants_block {
    .category {
      h2 {
        font-size: 14px;
      }
    }
  }
}
