.create {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: rgb(187, 238, 198);
  padding: 20px;
  width: 360px;
  height: 340px;
  margin-inline: 530px;
  margin-block: 120px;
  border-radius: 10px;
  border: 2px dotted green;
  h1 {
    text-align: center;
    color: rgb(110, 169, 21);
  }
  input {
    border: 1px solid greenyellow;
    padding: 10px 30px;
    border-radius: 10px;
  }
  button {
    padding: 5px 20px;
    color: grey;
    border-radius: 3px;
    border: 1px solid rgb(179, 199, 148);
  }
}
@media (max-width: 1200px) {
  .create {
    margin-inline: 430px;
  }
}
@media (max-width: 1044px) {
  .create {
    margin-inline: 360px;
  }
}
@media (max-width: 770px) {
  .create {
    margin-inline: 240px;
  }
}
@media (max-width: 644px) {
  .create {
    margin-inline: 100px;
    padding: 10px;
  }
}
@media (max-width: 490px) {
  .create {
    width: 300px;
    height: 310px;
    gap: 7px;
    margin-block: 30px;
    input {
      padding: 10px 5px;
      font-size: 12px;
    }
    h1 {
      font-size: 20px;
    }
  }
}
@media (max-width: 470px) {
  .create {
    margin-inline: 40px;
    height: 280px;
    width: 270px;
  }
}
