.create {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: rgb(187, 238, 198);
  padding: 20px;
  width: 360px;
  height: 300px;
  margin-inline: 530px;
  margin-block: 120px;
  border-radius: 10px;
  border: 2px dotted green;
  h1 {
    text-align: center;
    color: rgb(110, 169, 21);
  }
  input {
    border: 1px solid greenyellow;
    padding: 10px 30px;
    border-radius: 10px;
  }
  button {
    padding: 5px 20px;
    color: grey;
    border-radius: 3px;
    border: 1px solid rgb(179, 199, 148);
  }
}
